<!-- templates/contact.html -->
{% extends 'pages/base.html' %}

{% block title %}Talk yo us{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">Contact Information</div>
        <div class="card-body">
          <p> We value your feedback, inquiries, and suggestions. Please feel free to reach out to us using the contact information provided below.</p>
          <ul>
            <li><strong>Address:</strong> {{ address }}</li>
            <li><strong>Email:</strong> {{ email }}</li>            
            <li><strong>Phone:</strong> {{ phone }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
